
%main.center-hero
  %h1 Please log in

  %p
    To use the Conceptual Mastery puzzles, please log in
    with your <b>Macalester</b> Google acocunt.

  %p
    (Be sure to choose your <b>Macalester</b> account
    instead of a different Google account, or it won’t work!)

  = button_to "Log In with Google", "/auth/google_oauth2", data: { turbo: false }, class: 'big'
