%main
  %h1= cohort.name

  %h2 Pending Attempts
  = render "grading/attempts/attempts_table", attempts: @pending_attempts
  %a.detail-nav{href: grading_cohort_attempts_path(cohort)} All Attempts

  %h2 Students
  %a.detail-nav{href: grading_cohort_students_path(cohort)} All Students

  - if @error_attempts.any?
    %h2 Recent Errors
    = render "grading/attempts/attempts_table", attempts: @error_attempts
