= content_for :nav do
  %a.back{href: grading_path} Grading

%main
  .filters
    .choices
      .title State:
      .group
        = filter_link :state, "all"
      .group
        - AttemptState.all.each do |state|
          = filter_link :state, state
  = render 'attempts_table', attempts: @attempts
    
