body, html
  margin: 0
  padding: 0
  font-family: 'Avenir Next', Verdana, Sans-serif
  background: #fff
  color: #001

.nav-top
  background: #c7d8f4
  padding: 0.5rem 1rem
  display: flex
  gap: 0.5rem
  justify-content: right
  align-itrems: center
  .avatar
    width: 2rem

.flash
  margin: 2rem 4rem
  padding: 1rem 2rem
  border-radius: 1rem
  border: 1px solid
  font-weight: 500
  font-size: 125%
  &.notice
    border-color: #080
    background: #efe
  &.error
    border-color: #f00
    background: #ffe

button, a.button, input[type=submit]
  background: white
  color: #44f
  border: 0.5px solid #44f
  border-radius: 0.5rem
  margin: 0.25rem 0
  padding: 0rem 0.5rem
  text-align: center
  &.big
    background: #44f
    color: white
    padding: 0.5rem 1rem
    font-weight: 500
  text-decoration: none !important
  font: inherit
  &:active
    background: #006
    color: white

main
  margin: 1rem
  &.center-hero
    max-width: 24rem
    margin: 0 auto
    height: 67vh
    display: flex
    flex-direction: column
    align-itrems: center
    justify-content: center

.puzzle-status-overview
  .puzzle-status
    margin: 1.5rem 0

    .puzzle-type
      margin: 0.5rem 0
      display: flex
      align-items: first baseline
      .name, .desc
        font-weight: 500
      .name
        color: #646abc
        padding: 0.1rem 0
        border-radius: 0.5rem
        margin-right: 1rem
        width: 5rem
        font-size: 125%
        text-align: right

    .info
      margin-left: 6rem
      .state
        font-weight: bold
        display: inline
        margin-right: 0.5em
      .action
        display: block

.puzzle-content
  width: 100%
  height: 80vh
