body, html
  margin: 0
  padding: 0
  font-family: 'Avenir Next', Verdana, Sans-serif
  background: #fff
  color: #001

.nav-top
  background: #c7d8f4
  padding: 0.4em 0.8em
  text-align: right

main
  margin: 1em

.puzzle-status-overview
  .puzzle-status
    margin: 1.2em 0

    .puzzle-type
      margin: 0.4em 0
      .name, .desc
        display: inline
        font-weight: 500
      .name
        border: 1px solid #004
        background: #336
        color: white
        padding: 0.1em 0.4em
        border-radius: 0.4em
        margin-right: 0.5ex

    .status
      margin-left: 4em
