body, html
  margin: 0
  padding: 0
  font-family: 'Avenir Next', Verdana, Sans-serif
  background: #fff
  color: #001

.nav-top
  background: #c7d8f4
  padding: 0.5em 1em
  display: flex
  gap: 0.5em
  justify-content: right
  align-items: center
  .avatar
    width: 2em

.flash
  margin: 2em 4em
  padding: 1em 2em
  border-radius: 1em
  border: 1px solid
  font-weight: 500
  font-size: 125%
  &.notice
    border-color: #080
    background: #efe
  &.error
    border-color: #f00
    background: #ffe

a.button
  border-radius: 0.5em
  padding: 0.5em 1em
  background: #44f
  color: white
  text-decoration: none !important
  &:active
    background: #006

main
  margin: 1em
  &.center-hero
    max-width: 24em
    margin: 0 auto
    height: 67vh
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.puzzle-status-overview
  .puzzle-status
    margin: 1.5em 0

    .puzzle-type
      margin: 0.5em 0
      display: flex
      align-items: first baseline
      .name, .desc
        font-weight: 500
      .name
        background: #646abc
        color: white
        padding: 0.1em 0
        border-radius: 0.5em
        margin-right: 0.5em
        width: 5em
        text-align: center

    .status
      margin-left: 5.5em
