.mini-flash.error
  .line Something went wrong with the problem generator.
  .line Try it again, and if it still doesn’t work, please let your instructor know.
  .line Tell them to look at the error log for attempt #{attempt.id}.
