%a{href: attempts_path} < Home

%main.puzzle
  .status
    Status:
    = describe_attempt_state(@attempt.state)
    - if @attempt.score
      = describe_attempt_score(@attempt.score)

  - if @attempt.graded? && @attempt.solution_html?
    %iframe.puzzle-content{srcdoc: @attempt.solution_html}
  - elsif @attempt.problem_html?
    %iframe.puzzle-content{srcdoc: @attempt.problem_html}


- if @attempt.queued?
  .autoreload
