%nav.nav-top
  .nav
    = yield :nav

  .session
    - if student_preview_mode?
      .preview-mode
        %a.button{href: grading_cohort_path(current_student.cohort), data: { turbo: "false" }}
          Return to instructor view

    - if current_user
      .username
        .optional-label Logged in as:
        %b= current_user.email
      - if current_user_avatar
        %img.avatar{src: current_user_avatar}
      .logout
        %a{href: logout_path} Log out
