%nav.nav-top
  .nav
    = yield :nav

  .session
    - if current_user
      .username
        Logged in as:
        %b= current_user.email
      - if current_user_avatar
        %img.avatar{src: current_user_avatar}
      .logout
        %a{href: logout_path} Log out
